[submodule "APIClient"]
	path = APIClient
	url = git@github.com:AppTelemetry/APIClient.git
[submodule "UIComponents"]
	path = UIComponents
	url = git@github.com:AppTelemetry/UIComponents.git
[submodule "Packages/DataTransferObjects"]
	path = Packages/DataTransferObjects
	url = git@github.com:AppTelemetry/models.git
